# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

test_read
test_read_leak
def_file_nocomm
script*
!script_test
!script_test_result
verifier_out*
def_conv_out*

# test_automake3
# test_book3
.vscode/
.clang-format

