# Compiled Object files
*.obj

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.out

def_file_bez
bezout_script
out/*

# exclude given binaries
test_read
test_automake3
test_book3

# test_automake3
# test_book3
.vscode/
.clang-format

